APP_PORT=4000
DB_PORT=3306
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD="Your password"
DB_NAME=book_flow

ACCESS_TOKEN_SECRET="Your token secret"

OBJECT_STORAGE_BUCKET="here the name of your bucket"
OBJECT_STORAGE_URL="play.min.io or localhost depending if your are running on your own machine"
OBJECT_STORAGE_PORT=9000
OBJECT_STORAGE_SSL=true
OBJECT_STORAGE_ACCESS_KEY="here your access key"
OBJECT_STORAGE_SECRET_KEY="here your secret key"